<mat-card (click)="goToMovie(movie.imdbID)">
    <mat-card-header>
        <mat-card-title>{{movie.Title}}</mat-card-title>
        <mat-card-subtitle>Year: {{movie.Year}}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image *ngIf="movie.Poster != 'N/A'" src="{{movie.Poster}}" alt="">

    <mat-card-actions>
        <button mat-button color="primary">MORE</button>
    </mat-card-actions>
</mat-card>