<mat-card>
    <mat-card-header>
        <mat-card-title>{{movie?.Title}}</mat-card-title>
        <mat-card-subtitle>Year: {{movie?.Year}}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        <img mat-card-image src="{{movie?.Poster}}" alt="">
        <p>{{movie?.Plot}}</p>
    </mat-card-content>
</mat-card>