<h2>Recently</h2>
<mat-list role="list">
    <mat-list-item *ngFor="let movie of (historyList$ | async) | slice:0:10" (click)="selectMovie(movie)">
        {{movie?.Title}} ({{movie?.Year}})
    </mat-list-item>
</mat-list>