<h1>Search movies</h1>

<form>
    <mat-form-field>
        <input type="text" placeholder="Search Movies" matInput [formControl]="moviesCtrl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWithTitleSearch" (optionSelected)="selectMovie($event)">
            <mat-option *ngFor="let movie of movies$ | async" [value]="movie">
                {{movie.Title}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="goToMovies()">Search</button>
</form>

<router-outlet></router-outlet>

<app-movies-history></app-movies-history>